---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

import Versions from './Versions.astro';
---

<Versions />

<a href="/releases#bleeding-edge-den"><img src="https://img.shields.io/badge/main-HeadsUp-ff7600?logo=tip&logoColor=white" alt="Sponsor Den"/>

<a href="https://github.com/denful/den/releases"><img src="https://img.shields.io/github/v/release/denful/den?logo=github&color=white"/></a>

<a href="https://deepwiki.com/denful/den"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<Default />


